body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/094/393/original/Pixel_City.jpeg?1692821689");
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  font-size: 18px;
}
footer {
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}
h2 {
  margin: 0 0 6px;
  font-size: 28px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 60px auto 5px;
  padding: 30px;
  border: 3px solid white;
  border-radius: 70px;
  box-shadow: 0px 20px 17px rgba(0, 0, 0, 0.2);
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(143, 142, 144, 0.4);
}
.city:last-child {
  border: none;
  text-align: left;
}
.date {
  opacity: 0.5;
  text-align: left;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}
